<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IntegralDao">
    <update id="addPoint" parameterType="com.pojo.Integral">
        update sc_point set point_number=point_number+#{pointNumber} where user_id = #{userId}
    </update>

</mapper>

    